{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Profile - {{user_profile.user.username}}</title>
   <!-- <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> -->
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<style>
        /* Add your preferred styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
			
        }

        .bio {
            border: 1px solid #ccc;
            background-color: gainsboro;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        }


		.icon {
            margin-right: 10px;
        }
    
		
		
		
		
    </style>

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	</div>
	
	<section>
			<div class="feature-photo">
				<figure><img src="{% static 'images/resources/facebook_wordmark.gif' %}"style="height: 400px; width: 400%; " alt=""></figure>
				<form action="/follow" method="POST">
					{% csrf_token %}
					<div class="add-btn">
					<span style="color: black; font-size: 27px; margin-right: 250px;"><b><u><a href="/">Home</a></u></b></span>
					
					{% if user_post_length == 0 %}
					<span style="color: black; font-size: 27px;"><b class="icon"><i class="fa fa-file"></i></b><i>No Post</i></span>
					{% elif user_post_length == 1 %}
					<span style="color: black; font-size: 27px;"><b class="icon"><i class="fa fa-files"></i></b>{{user_post_length}} <i>Post</i></span>
					{% else %}
					<span style="color: black; font-size: 27px;"><b class="icon"><i class="fa fa-files"></i></b>{{user_post_length}}<i> Posts</i></span>
					{% endif %}

					{% if user_followers == 0 or user_followers == 1 %}
					<span style="color: black; font-size: 27px;"><b class="icon"><i class="fa fa-users"></i></b></i>{{user_followers}} <i>follower</i></span>
					{% else %}
					<span style="color: black; font-size: 27px;"><b class="icon"><i class="fa fa-users"></i></b>{{user_followers}}<i> followers</i></span>
					{% endif %}


					<span style="color: black; font-size: 27px;"><b class="icon"><i class="fa fa-users"></i></b>{{user_following}} <i>following</i></span>

					<input type="hidden" value="{{user.username}}" name="follower" />
					<input type="hidden" value="{{user_object.username}}" name="user" />

					{% if user_object.username == user.username %}
					<a href="/settings" data-ripple="" >Account Settings</a>
					{% else %}
					<a data-ripple="" style="background-color: skyblue; border: 1px solid skyblue; padding: 5px 10px; border-radius: 5px; color: black; text-decoration: none;">
						<button type="submit" style="background-color: skyblue; border: none; padding: 5px 10px; border-radius: 5px; color: black;">{{button_text}}</button></a>
					{% endif %}
                    
					</div>
				</form>
				

				<!-- <form class="edit-phto">
					<i class="fa fa-camera-retro"></i>
					<label class="fileContainer">
						Upload Cover Photo
					<input type="file"/>
					</label>
				</form> -->
				<div class="container-fluid">
					
					<div class="row merged" style="margin-left: 2%;">
						
						<div class="col-lg-2 col-sm-3" >
							
							<div class="user-avatar" style="width: 254px; height: 254px; border-radius: 50%; border: 4px solid white; overflow: hidden; display: flex; justify-content: center; align-items: center; color: white ;">
								
								<figure>

									<img src="{{user_profile.profileimg.url}}" style="width: 254px; height: 254px; border-radius: 200%;" alt="Profile Picture">
									
								</figure>
							</div>
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<ul>
									<li class="admin-name">
									  <h5 style="color: darkblue;white-space: nowrap; width: 110px; font-size: 27px; margin-left: 60px;"><b>@{{user_profile.user.username}}</b></h5>
									  
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- top area -->
		<section>
			<div class="bio" >
					<i><b>{{user_profile.bio}}</b></i>
			</div>
		</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									
									
								</aside>
							</div><!-- sidebar -->
							









							<div class="col-lg-6">
								<div class="central-meta">
									<ul class="photos">
					
										{% for post in user_posts %}
										<li>
											<a class="strip" href="{{post.image.url}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>
										</li>
										{% endfor %}
										
										
										
									</ul>
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	
	
	<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>	


</html>